.site-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    text-decoration: none;
  }
  .nav-link {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8) !important;
  }
  .social-nav .nav-link {
    padding: 0 0.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  
  .nav-link:hover,
  .nav-link:focus,
  .active .nav-link {
    color: rgba(0, 0, 0, 0.6) !important;
  }
  .wave-bg {
    display: block;
    height: 200px;
    width: 100%;
    transform-origin: top;
    -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
            animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    background-image: url("../image/wave-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
 
  .container-narrow {
    max-width: 1024px;
    margin: 0 auto;
  }

  img.avatar {
    border-radius: 30px;
  }

  .section {
    scroll-margin-top: 2rem;
  }

  .text-small {
    font-size: 0.875rem;
  }
  
  .text-uppercase {
    letter-spacing: 0.05em;
  }
  
  .hover-effect {
    transition: transform .18s ease-in-out;
  }
  
  .hover-effect:hover {
    transform: translateY(-2px);
  }

  .roundbg {
    border-radius: 50px;
  }
  

  $primary: #ff4136;
  $danger: #ff4136;